{% extends 'main/base.html' %}

{% block head_content %}
  <title>Perfil</title>
  {% load static %}
  <script async src="{% static 'users/js/edit_username.js' %}"></script>
  <script async src="{% static 'users/js/edit_description.js' %}"></script>
  <script async src="{% static 'users/js/edit_password.js' %}"></script>
  <script async src="{% static 'main/js/check_password.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="container pt-5">
    <h1>{{ chef.user.username }}</h1>
    {% if user == chef.user %}
      <button class="btn btn-info" type="button" name="button" data-username="{{ chef.user.username }}" data-toggle="modal" data-target="#edit_name_modal">Editar</button>
    {% endif %}
  </div>

  <div class="container pt-4">
    Descripción:

    <h6> {{ chef.description }} </h6>
    {% if user == chef.user %}
      <button class="btn btn-info" type="button" name="button" data-description="{{ chef.description }}" data-toggle="modal" data-target="#edit_description_modal">Editar</button>
    {% endif %}
  </div>

  <div class="container pt-4">
    Correo:
    <h6>{{ chef.user.email }}</h6>
  </div>

  {% if user == chef.user %}
    <div class="container pt-4">
      <button class="btn btn-info" type="button" name="button" data-toggle="modal" data-target="#edit_password_modal">Cambiar contraseña</button>
    </div>
  {% endif %}


  <!-- Modal for edit username -->
  <div class="modal fade" role="dialog" id="edit_name_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar nombre</h4>
        </div>
        <form id="form_edit_username" method="post">
          <div class="modal-body">

            <div id="alert_username_edit" class="alert alert-danger alert-dismissible fade show collapse" role="alert">
              <p>Ya existe un chef con el mismo nombre</p>
              <button id="close_alert_edit_username" type="button" class="close" aria-label="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            {% csrf_token %}

            <input id="input_new_username" type="text" name="new_username" maxlength="150" required>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-success" type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" role="dialog" id="edit_description_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar descripción</h4>
        </div>
        <form action="{% url 'edit_description' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <textarea id="input_description" name="new_description" rows="8" cols="45" placeholder="Inserta la descripción" required></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-success" type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


    <div class="modal fade" role="dialog" id="edit_password_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Editar contraseña</h4>
          </div>
          <form action="{% url 'edit_password' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">

              <div id="alert_password" class="alert alert-danger alert-dismissible fade show collapse" role="alert">
                <p>Despues de guardar la contraseña tendras que reiniciar sesión </p>
                <button id="close_alert_edit_password" type="button" class="close" aria-label="close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="form-group">
                <input id="password" class="form-control" type="password" name="password" pattern=".{8,}" placeholder="Escribe el password de al menos 8 caracteres" required/>
              </div>
              <div class="form-group">
                <input id="password_confirm" class="form-control" type="password" name="password1" pattern=".{8,}" placeholder="Comprueba el password" required/>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-success" type="submit">Guardar</button>
            </div>
          </form>

        </div>
      </div>
    </div>

{% endblock %}
