{% extends 'main/base.html' %}


{% block head_content %}
  <title>Categorias</title>
  {% load static %}
  <script async type="text/javascript" src="{% static 'categories/js/add_category.js' %}"></script>
  <script async type="text/javascript" src="{% static 'categories/js/edit_category.js' %}"></script>
  <script async type="text/javascript" src="{% static 'categories/js/delete_category.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="container pt-3">
    <h2>Categorias</h2>
  </div>

  <div class="container pt-4">
    {% if categories %}
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <td>{{ category.name }}</td>
            <td><button class="btn btn-info" type="button" data-name="{{ category.name }}" data-target="#edit_category_modal" data-toggle="modal">Editar</button></td>
            <td><button class="btn btn-danger" type="button" data-category="{{ category.id }}" data-target="#delete_category_modal" data-toggle="modal">Eliminar</button></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="container pt-4">
      <h4 style="text-align: center;">No hay categorias</h4>
    </div>
    {% endif %}
  </div>

  <div class="container pt-3">
    <button class="btn btn-info" type="button" name="button" data-toggle="modal" data-target="#new_category_modal">Agregar</button>
  </div>

  <div class="modal fade" role="dialog" id="new_category_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Crear categoría</div>
        </div>
        <form id="form_category" method="post">
          <div class="modal-body">

            <div id="alert_error_category" class="alert alert-danger alert-dismissible fade show collapse" role="alert">
              <p>Ya existe una categoria con el mismo nombre</p>
              <button id="close_alert" type="button" class="close" aria-label="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            {% csrf_token %}
            <div class="form-group">
              <input id="input_name" type="text" name="name" placeholder="Ingresa el nombre" required>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-success" type="submit">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" role="dialog" id="edit_category_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Editar categoria</div>
        </div>
        <form id="form_category_edit" method="post">
          <div class="modal-body">

            <div id="alert_error_category_edit" class="alert alert-danger alert-dismissible fade show collapse" role="alert">
              <p>Ya existe una categoria con el mismo nombre</p>
              <button id="close_alert_edit" type="button" class="close" aria-label="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% csrf_token %}
            <input id="input_name_edit" type="text" name="new_name" required>
            <input id="input_old_name_edit" type="hidden" name="old_name">
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <button class="btn btn-success" type="submit" >Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" role="dialog" id="delete_category_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><h4>Confirmación</h4></div>
        </div>
        <div class="modal-body">
          <p>¿Seguro que deseas eliminar esta categoria?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a id="button_delete_category" class="btn btn-danger" type="submit" >Eliminar</a>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
